    <h1>List of Quizzes:</h1>
    <table class="quizzes>">
      <% for (var i in quizzes) { %>
      <% var quiz = quizzes[i]; %>
        <tr>
          <div>
              <td><p class="question"><%=quiz.question%>: <%=quiz.answer%></p></td>
          </div>
        </tr>
      <% } %>
    </table>
